body {
  background-color: #e0e0e0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
#text {
    color: #121212;
  padding: 10px;
}
#game {
  max-width: 550px;
  max-height: 400px;
  color: #ffffff;
  padding: 20px;
  background: #e0e0e0;
  border-radius: 30px;
  box-shadow: 10px 10px 30px #bebebe, -10px -10px 30px #ffffff;
  transition: 0.5s ease;
}
#game:hover {
  box-shadow: 2px 2px 30px #bebebe, -2px -2px 30px #ffffff;
}
#controls,
#stats {
  border-bottom: 1px solid #121212;
  padding: 10px;
  text-align: center;
}
#monsterStats {
  margin-top: 1em;
  color: #ffffff;
  padding: 5px 10px;
  background-color: #c70d0d;
  border-radius: 20px;
  display: none;
}
.stat {
  font-size: 1.5rem;
  font-weight: 500;
  padding-right: 20px;
  color: #121212;
}
button {
  cursor: pointer;
  background-image: linear-gradient(#fecc4c, #ffac33);
  border: none;
  color: #121212;
  font-size: 1rem;
  padding: 10px 30px;
  border-radius: 50px;
  margin-bottom: 5px;
}
#xpText {
  color: #2b50c8;
}
#healthText {
  color: #228b22;
}
#goldText {
  color: #e8b923;
}
